## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,-34.5322,20.0403,62.60,88,98,6.91
1,1,Belomorsk,RU,64.5232,34.7668,36.30,96,100,4.50
2,2,Clyde River,CA,70.4692,-68.5914,12.20,92,75,24.16
3,3,Chokurdakh,RU,70.6333,147.9167,16.57,94,100,11.12
4,4,Mount Gambier,AU,-37.8333,140.7667,48.20,93,99,8.05

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Bambous Virieux,MU,-20.3428,57.7575,78.01,94,40,6.91
36,36,Rikitea,PF,-23.1203,-134.9692,78.26,71,15,11.70
61,61,Orangeburg,US,33.4918,-80.8557,78.80,27,1,19.57
64,64,Lindi,TZ,-10.0000,39.7167,75.20,94,20,16.11
65,65,Mahebourg,MU,-20.4081,57.7000,77.00,94,40,6.91
77,77,Bengkulu,ID,-3.8004,102.2655,75.31,90,66,3.42
80,80,Guapimirim,BR,-22.5372,-42.9819,75.00,88,75,5.75
83,83,Padang,ID,-0.9492,100.3543,75.97,88,98,3.38
89,89,Anito,PH,12.4497,125.2886,75.69,90,97,3.18
93,93,Ariquemes,BR,-9.9133,-63.0408,79.70,91,67,1.97

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       88
City          88
Country       88
Lat           88
Lng           88
Max Temp      88
Humidity      88
Cloudiness    88
Wind Speed    88
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
14  Bambous Virieux      MU     78.01 -20.3428   57.7575
36          Rikitea      PF     78.26 -23.1203 -134.9692
61       Orangeburg      US     78.80  33.4918  -80.8557
64            Lindi      TZ     75.20 -10.0000   39.7167
65        Mahebourg      MU     77.00 -20.4081   57.7000
77         Bengkulu      ID     75.31  -3.8004  102.2655
80       Guapimirim      BR     75.00 -22.5372  -42.9819
83           Padang      ID     75.97  -0.9492  100.3543
89            Anito      PH     75.69  12.4497  125.2886
93        Ariquemes      BR     79.70  -9.9133  -63.0408

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, ConnectionResetError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
14,Bambous Virieux,MU,78.01,-20.3428,57.7575,Casa Tia Villa
36,Rikitea,PF,78.26,-23.1203,-134.9692,Pension Maro'i
61,Orangeburg,US,78.80,33.4918,-80.8557,Palmetto Inn & Suites
64,Lindi,TZ,75.20,-10.0000,39.7167,Lindi paradise house
65,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
77,Bengkulu,ID,75.31,-3.8004,102.2655,Grage Hotel Bengkulu
80,Guapimirim,BR,75.00,-22.5372,-42.9819,Hostel Guapi
83,Padang,ID,75.97,-0.9492,100.3543,Mercure Padang
89,Anito,PH,75.69,12.4497,125.2886,The Yellow House
93,Ariquemes,BR,79.70,-9.9133,-63.0408,Hotel Sol Nascente - Ariquemes - RO

In [ ]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_Database.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure